<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="SQLDB.Footlocker" connectionString="Data Source=mlwsql55;Initial Catalog=Footlocker;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="SQLDB.Footlocker_Common" connectionString="Data Source=mlwsql55;Initial Catalog=Footlocker_Common;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="AllocationContext" connectionString="Data Source=ORDGENTSTSQL55;Initial Catalog=Allocation;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <!--add name="AllocationContext" connectionString="Data Source=ORDGENTSTSQL55;Initial Catalog=Allocation;Integrated Security=SSPI;" providerName="System.Data.SqlClient" /-->
		<!--  TEST  
		<add name ="DB2PROD" connectionString="Provider=IBMDADB2;DSN=DB2TN;UID=UKBDV03;PWD=DISTDBT2;" providerName="System.Data.OleDb" />
		<add name ="DB2EURP" connectionString="Provider=IBMDADB2;DSN=DB2M;UID=uedb208;Pwd=emoosp7;" providerName="System.Data.OleDb" />
		<add name ="DB2PROD_DRIVER" connectionString="Provider=IBMDADB2;DSN=DB2TN;UID=UKBDV03;PWD=DISTDBT2;" providerName="System.Data.OleDb" />
		<add name ="DB2EURP_DRIVER" connectionString="Provider=IBMDADB2;DSN=DB2M;UID=uedb208;Pwd=emoosp7;" providerName="System.Data.OleDb" />
 -->

    <!-- PROD   -->
 <add name="DB2PROD" connectionString="Provider=IBMDADB2;DSN=DB2P;UID=uedb297;Pwd=b2f3ng8" providerName="System.Data.OleDb" />
 <add name="DB2EURP" connectionString="Provider=IBMDADB2;DSN=DB2E;UID=uedb297;Pwd=b2f3ng8;" providerName="System.Data.OleDb" />

 <add name="DB2PROD_DRIVER" connectionString="Provider=IBMDADB2;DSN=DB2TN;UID=UKBDV03;PWD=DISTDBT2;" providerName="System.Data.OleDb" />
 <add name="DB2EURP_DRIVER" connectionString="Provider=IBMDADB2;DSN=DB2E;UID=uedb297;Pwd=b2f3ng8;" providerName="System.Data.OleDb" />


</connectionStrings>
	<appSettings>
		<add key="aspnet:MaxJsonDeserializerMembers" value="150000" />    
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AsposeCellsLicense" value="C:\Aspose\Aspose.Cells.lic" />
		<add key="SkuTypeTemplate" value="\Content\Templates\SkuTypeUpload.xlsx" />
		<add key="ProductTypeTemplate" value="\Content\Templates\ProductTypeTemplate.xlsx" />
    <add key="SkuIdUploadTemplate" value="\Content\Templates\SkuIDUploadTemplate.xlsx" />
    <add key="ARSkusUploadTemplate" value="\Content\Templates\ARSkusUploadTemplate.xlsx" />
    <add key="HoldsUploadTemplate" value="\Content\Templates\HoldsUploadTemplate.xlsx" />
    <add key="ARConstraintsUploadTemplate" value="\Content\Templates\ARConstraintsUploadTemplate.xlsx" />
    <add key="SkuRangePlanDGUploadTemplate" value="\Content\Templates\SkuRangePlanDGUploadTemplate.xlsx" />
    <add key="RDQRestrictionsTemplate" value="\Content\Templates\RDQRestrictionUploadTemplate.xlsx" />
    <add key="RangeTemplate" value="\Content\Templates\BulkRangeTemplate.xlsx" />
    <add key="WebPickTemplate" value="\Content\Templates\WebPickUploadTemplate.xlsx" />
    <add key="RingFenceDeleteTemplate" value="\Content\Templates\RingFenceDeleteTemplate.xlsx" />
    <add key="HoldDeleteTemplate" value="\Content\Templates\HoldsDeleteTemplate.xlsx" />
    <add key="HoldsUpdates" value="\Content\Templates\HoldsUpdatesTemplate.xlsx" />
    <add key="RerankStoresTemplate" value="\Content\Templates\NetworkScheduleUpdateTemplate.xlsx" />
    <add key="SKUAttributeTemplate" value="\Content\Templates\SkuAttributeUploadTemplate.xlsx" />
    <add key="CrossdockLinkTemplate" value="\Content\Templates\CrossdockLinkDataTemplate.xlsx" />
    <add key="RingFenceUploadTemplate" value="\Content\Templates\RingFenceUploadTemplate.xlsx" />
    <add key="StoreTemplate" value="\Content\Templates\StoreTemplate.xlsx" />
    <add key="VendorGroupTemplate" value="\Content\Templates\VendorGroupTemplate.xlsx" />
    <add key="POOverrideTemplate" value="\Content\Templates\POOverrideTemplate.xlsx" />
    <add key="SeasonalityTemplate" value="\Content\Templates\SeasonalityTemplate.xlsx" />
    <add key="BTSUnassignedTemplate" value="\Content\Templates\BTSUnassignedTemplate.xlsx" />
    <add key="RDQRestrictionsExportTemplate" value="\Content\Templates\RDQRestrictionsExportTemplate.xlsx" />
    <add key="EcomRFRestrictionsTemplate" value="\Content\Templates\EcomRFRestrictionTemplate.xlsx" />
		<add key="defaultMin" value="1" />
		<add key="defaultMax" value="9" />
		<add key="defaultDays" value="7" />
		<add key="skutypefile" value="C:\log\tempskufile" />
		<add key="producttypefile" value="C:\log\tempproductfile" />
    <add key="SkuIdFile" value="C:\log\tempSkuIdFile" />
		<add key="FTPServer" value="sysb.woolworth.com" />
		<add key="SkuTypeDataset" value="'TST.INV.RC4773.P001(+1)'" />
		<add key="SkuTypeDatasetEurope" value="'TST.INV.EUR.RC4773.P001(+1)'" />
    <add key="SkuIdDataset" value="'TST.INV.RC3966.P001(+1)'" />
    <add key="SkuIdDatasetEurope" value="'TST.INV.EUR.RC3966.P001(+1)'" />
		<add key="QuoteFTPCommand" value="SITE LRECL=160 BLKSIZE=0900 RECFM=FB PRI=50 SEC=100 CYLINDERS" />
    <add key="QuoteFTPCommand_SkuID" value="SITE LRECL=90 BLKSIZE=900 RECFM=FB PRI=50 SEC=100 CYLINDERS" />
    <add key="FTPUserName" value="ue0ftbz" />
		<add key="FTPPassword" value="wpft3os" />
    <add key="SkuIdFTPUserName" value="uedb2a0" />
    <add key="SkuIdFTPPassword" value="k3ew7hp" />
		<add key="enableFTP" value="false" />
    <!--add key="imageURL" value="http://imageservicedev/GetSKUImage.aspx?sku=" /-->
		<add key="imageURL" value="http://imageservice/GetSKUImage.aspx?sku=" />
		<add key="DB2PREFIX" value="DB2TEST." />
		<add key="DB2PREFIX_DRIVER" value="" />
		<add key="EUROPE_DIV" value="31,47" />
    <add key="environment" value="(Dev)" />
    <add key="LogFile" value="C:\Log\allocation" />
    <add key="UPDATE_MF" value="FALSE" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
		  <add namespace="Telerik.Web.Mvc.UI" />
		  <add namespace="Footlocker.Common.mvcExtensions" />
	  </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Cells" publicKeyToken="716fcc553a201e56" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.7.1.0" newVersion="8.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>