@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        For questions/concerns, contact the development staff at the email below.
    </p>
</article>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:chw.logistics.web@footlocker.com?subject=Allocation%20Website">chw.logistics.web@footlocker.com</a></span>
    </p>
</section>
