@{
    ViewBag.Title = "SessionExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Session Expired</h2>

Your current session expired due to lack of activity.  Plese click on a Tab above to start a new session.
