        .scrollablearea { 
            width: 675px; 
            overflow-x:scroll;  
            margin-left:435px; 
            overflow-y:visible;
            padding-bottom:1px;
        }
        .headcol {
            position:absolute; 
            width:340px; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-left: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:0px; /*compensate for top border*/
        }
        .headcol2 {
            position:absolute; 
            width:95px; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-left: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:0px; /*compensate for top border*/
            margin-left:85px;
        }        
        .headcol3 {
            position:absolute; 
            width:109px; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-left: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:0px; /*compensate for top border*/
            margin-left:191px;
        }        
        .headcol4 {
            position:absolute; 
            width:70px; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-left: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:0px; /*compensate for top border*/
            margin-left:300px;
        }        
        .headcol5 {
            position:absolute; 
            width:55px; 
            left:0;
            top:auto;
            border-right: 0px none black; 
            border-left: 0px none black; 
            border-top-width:3px; /*only relevant for first row*/
            margin-top:0px; /*compensate for top border*/
            margin-left:370px;
        }         .long { }