@using Telerik.Web.Mvc;
@{
    ViewBag.Title = "UploadChanges";
}

<fieldset>
    <legend>Upload Changes</legend>
    This will allow users to upload mass changes to NSS data.<br />
    <br />
    @Html.ActionLink("Download Template", "ExcelRoutingChangeTemplate", new { }, new { @class = "t-button" })
    <br />
    <br />
    <b>This spreadsheet upload allows users to change rankings for the first six warehouses tied to a store. It also allows changes to the leadtime.</b>
    <br />
    <b>Please select NSS update spreadsheets to upload: </b>
    <br />
    <br />
    @(Html.Telerik().Upload()
              .Name("attachments")
              .Multiple(true)
              .Async(async => async
                  .Save("MassUpdateNSS", "Route")
                  .AutoUpload(false))
                  .ShowFileList(true)
              .ClientEvents(events => events
                  .OnError("onError")
                  .OnSelect("onSelect")
                  .OnSuccess("onSuccess")
                  )
    )
    <input type="submit" id="spreadsheet" name="create" value="Upload" class="t-button" style="width:150px; visibility: hidden;display:none;" />
    <br />
    <h4> <div id="message"></div> </h4>
</fieldset>

@Html.ActionLink("Back To List", "StoreLeadTimes", null, new { @class = "t-button" })

<script type="text/javascript">

         function onSelect(e) {
             var files = e.files;
             if (files[0].extension != ".xlsx") {
                 alert("Document must be a spreadsheet with a xlsx extension. ");
                 e.preventDefault();
             }
             else {
                 document.getElementById('spreadsheet').style.visibility = 'visible';
             }
             $('#message').empty();
         }

         function onError(e) {
             var message = e.XMLHttpRequest.responseText;
             if (message.indexOf("Incorrectly formatted or missing header row") != -1)
                $('#message').empty().append("<font color='red'>" + message + "</font>");
             else
                $('#message').empty().append("<font color='red'>" + message + "</font><br><a class='t-button' href='DownloadUpdateErrors'>Download Errors</a>");

             e.preventDefault();
         }

         function onSuccess(e) {
             var message = e.XMLHttpRequest.responseText;
             $('#message').empty().append("<font color='red'>Success</font>");

             e.preventDefault();
         }
</script>