@using Telerik.Web.Mvc;
@{
    ViewBag.Title = "SkuIdUpload";
}

<fieldset>
    <legend> Sku Id Upload </legend>
    <b>This upload is only available for the following divisions: </b>
    <br />
    <ul>
        @foreach(var division in ViewBag.ValidDivisions)
        {
            <li>@Html.Raw(division.DivisionCode + " - " + division.DivisionName)</li>
        }
    </ul>

    Spreadsheet columns should be Sku, Sku Id Code 1-5 (optional).  <br /><br />
    @Html.ActionLink("Download Template","ExcelSkuIdUploadTemplate",new {}, new {@class = "t-button"})
    <br />
    <br />
    <b>Please select spreadsheets: </b>
        <br />
        <br />
    @(Html.Telerik().Upload()
        .Name("attachments")
        .Multiple(true)
        .Async(async => async
            .Save("SaveSkuId", "Upload")
            .AutoUpload(false))
        .ShowFileList(true)
        .ClientEvents(events => events
            .OnError("onError")
            .OnSelect("onSelect")
            .OnSuccess("onSuccess"))
     )
     <input type="submit" id="spreadsheet" name="create" value="Upload" class="t-button" style="width:150px; visibility: hidden;display:none;"/>
     <br />
     <h4 id="message"></h4>
</fieldset>
 
<script type="text/javascript">
function onSelect(e) {
    var files = e.files;
    if (files[0].extension != ".xlsx") {
        alert("Document must be a spreadsheet with a xlsx extension. ");
        e.preventDefault();
    }
    else{
            document.getElementById('spreadsheet').style.visibility = 'visible';
        }
        $('#message').empty();
}

function onError(e) {
    var message = e.XMLHttpRequest.responseText;
    $('#message').empty().append("<font color='red'>"+message+"</font>");

        e.preventDefault();
    }

    function onSuccess(e) {
        var message = e.XMLHttpRequest.responseText;
        $('#message').empty().append("<font color='red'>Success</font>");

        e.preventDefault();
    }
</script>
    