@model Footlocker.Logistics.Allocation.Models.MaintenanceModel

@{
    ViewBag.Title = "Execute";
}

<h2>Allocation Data Maintenance</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        <input type="submit" value="Execute" />
    </p>

    <div class="editor-field">
        @Model.ReturnMessage
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

