@{
    ViewBag.Title = "PO Override Upload";
}

<fieldset>
    <legend>PO Override Upload</legend>
    Spreadsheet columns should be Division, PO, Override Date.<br />
    @Html.ActionLink("Download Template", "ExcelTemplate", new { }, new { @class = "t-button" })
    <br />
    <br />
    <b>Please select spreadsheets: </b>
        <br />
        <br />
    @(Html.Telerik().Upload()
        .Name("attachments")
        .Multiple(true)
        .Async(async => async
            .Save("Save", "OverridePO")
            .AutoUpload(false))
        .ShowFileList(true)
        .ClientEvents(events => events
            .OnError("onError")
            .OnSelect("onSelect")
                    .OnSuccess("onSuccess")
            )
        )
    <input type="submit" id="spreadsheet" name="create" value="Upload" class="t-button" style="width:150px; visibility: hidden;display:none;"/>
    <br />
    <h4 id="message"></h4>
</fieldset>

@Html.ActionLink("Back To List", "Index",null, new { @class="t-button"})

<script type="text/javascript">
    function onSelect(e) {
        var files = e.files;
        if (files[0].extension != ".xls") {
            alert("Document must be a spreadsheet with a xls extension. ");
            e.preventDefault();
        }
        else {
            document.getElementById('spreadsheet').style.visibility = 'visible';
        }
        $('#message').empty();
    }

    function onError(e) {
        var message = e.XMLHttpRequest.responseText;
        $('#message').empty().append("<font color='red'>" + message + "</font><br><a class='t-button' href='DownloadErrors'>Download Errors</a>");

        e.preventDefault();
    }

    function onSuccess(e) {
        var message = e.XMLHttpRequest.responseText;
        $('#message').empty().append("<font color='red'>Success</font>");

        e.preventDefault();
    }
</script>
    