<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="SQLDB.Footlocker" connectionString="Data Source=mlwsql55;Initial Catalog=Footlocker;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
      <add name="SQLDB.Footlocker_Common" connectionString="Data Source=mlwsql55;Initial Catalog=Footlocker_Common;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
      <add name="AllocationContext" connectionString="Data Source=mlwsql55;Initial Catalog=Allocation;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
		<add name="DB2PROD" connectionString="Provider=IBMDADB2;DSN=DB2TN;UID=UKBDV03;PWD=DISTDBT2;" providerName="System.Data.OleDb"/>
		<add name="DB2EURP" connectionString="Provider=IBMDADB2;DSN=DB2M;UID=uedb208;Pwd=emoosp7;" providerName="System.Data.OleDb"/>
		<add name="DB2PROD_DRIVER" connectionString="Provider=IBMDADB2;DSN=DB2TN;UID=UKBDV03;PWD=DISTDBT2;" providerName="System.Data.OleDb"/>
		<add name="DB2EURP_DRIVER" connectionString="Provider=IBMDADB2;DSN=DB2M;UID=uedb208;Pwd=emoosp7;" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
