@model IEnumerable<Footlocker.Logistics.Allocation.Models.PreSaleModel>
@{
    ViewBag.Title = "PreSale";
}

<h2>PreSale SKUs</h2>
<p>
    @Html.ActionLink("Create New", "CreatePreSale", new { }, new { @class = "t-button" })
</p>

<script></script>

@(Html.Telerik().Grid(Model)
        .Name("PreSaleGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.SKU);
        })
        .Columns(columns =>
        {
            columns.Template(
        @<text>
            <img src="@Url.Content("~/Image/ShowImage/?sku=" + item.SKU)" />
        </text>
        ).Title("Image").Width(25);
            columns.Bound(o => o.SKU).ReadOnly();
            columns.Bound(o => o.SKUDescription).Title("SKU Description").ReadOnly();
            columns.Bound(o => o.preSaleSKU.InventoryArrivalDate).Format("{0:MM/dd/yyyy}").Title("Inventory Arrival Date");
            columns.Bound(o => o.preSaleSKU.LastModifiedDate).Title("Updated Date").ReadOnly();
            columns.Bound(o => o.preSaleSKU.LastModifiedUser).Title("Updated By").ReadOnly();
            columns.Command(commands =>
            {
                commands.Delete();
                commands.Edit();
            }).HtmlAttributes(new { style = "text-align: left" }).Width(300);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
            .Update("EditPreSale", "SkuRange", new { ItemID = ViewData["SKU"], InventoryArrivalDate = ViewData["InventoryArrivalDate"] })
            .Delete("DeletePreSale", "SkuRange", new { ItemID = ViewData["SKU"] });
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
)